/* Fonts example */
@font-face {
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("/fonts/Oswald[wght].ttf") format("opentype");

  /* For modern browsers this fonts enough */
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff2") format("woff2"),*/
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),*/
}

@font-face {
  font-family: "Oswald SemiBold";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Oswald SemiBold"), url("/fonts/Oswald[wght].ttf") format("opentype");

  /* For modern browsers this fonts enough */
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff2") format("woff2"),*/
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),*/
}
/* Fonts example */

body{
  font-family: 'Oswald', Arial, sans-serif !important;
  font-size: 16px !important;
}

.header{
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #fff;
  background-image: url('/upload/2-1920.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(187, 236, 255, 0.35);
}

.header .header__text{
  position: relative;
  margin-top: 150px;
  z-index: 1;
  color: #fff;
  text-shadow: 0 2px 1px black;
}

.test-header{
  text-align: center;
}

h1.test-header{
  font-size: 95px;
  line-height: 130px;
  font-weight: bold;
}

.images img{
  width: 260px;
  height: 170px;
}

.test-content{
  margin-bottom: 60px;
}

h2.test-header{
  font-weight: normal;
}

.test-image{
  margin-bottom: 15px;
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.test-images-0{
  background-image: url('/images/0-260.jpg');
}

.test-images-1{
  background-image: url('/images/sub-folder/0-260.jpg');
}

.test-upload-0{
  background-image: url('/images/1-260.jpg');
}

.test-upload-1{
  background-image: url('/images/2-260.jpg');
}

@media (max-width:991px){
  .header{
    height:450px;
    background-image: url('/upload/2-991.jpg');
  }

  .header__text{
    margin-top:120px
  }
  h1.test-header{
    font-size:60px;
    line-height:85px
  }

  .images img{
    margin:0 auto 15px;
    display:block
  }

  .test-images-0{
    background-image: url('/images/0.jpg');
  }

  .test-images-1{
    background-image: url('/images/sub-folder/0.jpg');
  }

  .test-upload-0{
    background-image: url('/images/1.jpg');
  }

  .test-upload-1{
    background-image: url('/images/2.jpg');
  }
}

@media (max-width:767px){
  .header{
    height:450px;
    background-image: url('/upload/2-767.jpg');
  }

  .header__text{
    margin-top:180px
  }

  h1.test-header{
    font-size:24px;
    line-height:35px
  }
}

@media (max-width:320px) {
  .header {
    height: 450px;
    background-image: url('/upload/2-320.jpg');
  }
}