@import 'abstract/mixins';

/* Common styles */
/* Fonts example */
@font-face {
  font-family: "PT Serif";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PT Serif"), url("/fonts/PTF55F.ttf") format("opentype");

  /* For modern browsers this fonts enough */
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff2") format("woff2"),*/
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),*/
}

@font-face {
  font-family: "PT Serif Caption";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("PT Serif Caption"), url("/fonts/PTZ55F.ttf") format("opentype");

  /* For modern browsers this fonts enough */
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff2") format("woff2"),*/
  /*src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),*/
}
/* !Fonts example */
/* !Common styles */

/* Main page */
body{
  height: 100vh;
  background-color: #fff;
  background-image: url('/upload/main/main-page-bg-320.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'PT Serif Caption', Arial, sans-serif !important;
  font-size: 16px !important;;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(63, 86, 100, 0.4);
    background: linear-gradient(-25deg, rgba(0, 255, 54, 0.66), rgba(18, 9, 255, 0.45));
  }
}

.main-header-wrapper{
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 90px);
  width: 180px;
  height: 80px;
}

.test-main-header{
  color: #fff;
  font-weight: 900;
}
/* !Main page */



/* Header media queries */
/* min-width: 768px */
@include respond-above(m){
  /* Main page */
  body{
    background-color: blue;
    background-image: url('/upload/main/main-page-bg-768.jpg');

    &::before{
      background: linear-gradient(-25deg, rgba(0, 255, 54, 0.49019607843137253), rgba(18, 9, 255, 0.21176470588235294));
    }
  }

  .main-header-wrapper{
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 215px);
    width: 430px;
    height: 140px;
  }

  .test-main-header{
    font-size: 90px;
    text-shadow: 0 0 14px #26618a9c;
  }
  /* !Main page */
}



@include respond-above(xxl){
  /* min-width: 1200px */
  /* Main page */
  body{
    position: relative;
    background-image: url('/upload/main/main-page-bg-1920.jpg');
  }

  .main-header-wrapper{
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - 400px);
    width: 800px;
    height: 166px;
  }

  .test-main-header{
    font-size: 150px;
    text-shadow: 0 0 14px #26618a9c;
  }
  /* !Main page */
}
/* !Header media queries */