body{
  font-size: 16px;
}

/* Header */
.header{
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #fff;
  background-image: url('/upload/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include respond-below(l){
    height: 450px;
  }

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(187, 236, 255, 0.35);
  }

  .header__text{
    position: relative;
    margin-top: 150px;
    z-index: 1;
    color: #fff;
    text-shadow: 0 2px 1px black;

    @include respond-below(l){
      margin-top: 120px;
    }

    @include respond-below(m){
      margin-top: 180px;
    }
  }
}

.test-header{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h1.test-header{
  font-size: 95px;
  line-height: 130px;
  font-weight: bold;

  @include respond-below(l){
    font-size: 60px;
    line-height: 85px;
  }

  @include respond-below(m){
    font-size: 24px;
    line-height: 35px;
  }
}

h2.test-header{
  font-weight: normal;
}

.test-image{
  margin-bottom: 15px;
  width: 100%;
  height: 170px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.test-images-0{
  background-image: url('/images/0.jpg');
}

.test-images-1{
  background-image: url('/images/sub-folder/0.jpg');
}

.test-upload-0{
  background-image: url('/images/1.jpg');
}

.test-upload-1{
  background-image: url('/images/2.jpg');
}

.images img{
  width: 260px;
  height: 170px;

  @include respond-below(l){
    margin: 0 auto 15px;
    display: block;
  }
}

.test-content{
  margin-bottom: 60px;
}

footer {
  height: 50px;
  border-top: 1px solid #677b7d24;
  color: #000;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  line-height: 50px;
}
